@import "navbar.css";
@import "buttons.css";
@import "queue.css";


@import "herobanner.css";
@import 'section2.css';
@import 'section3.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
body,html {
    font-family: system-ui;
    overflow-x: hidden;
}

